.mosquito1 { width: 50px;
	height: 50px;
}
.mosquito2 { width: 80px;
	height: 80px;
}
.mosquito3 { width: 110px;
	height: 110px;
}
.ladoA { transform: scaleX(1); }
.ladoB { transform: scaleX(-1); }
body {
	background: url('bg.jpg');
	background-size: cover;
}
.painel {position: absolute;
width: 200px;
padding:10px;
bottom:0px;
border-top:solid 1px #fff;
background: #fff;
opacity: 0.7;
}

.vida{float: left;}
.tempo{float: left;

font-size: 18px;
}

.gameove {width: 600px;}
.texto {font-weight: bold;
font-size: 20px;}
html {
	cursor: url(mata_mosca.png) 30 30, auto;
}
